@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ===== Variables CSS ===== */

:root {
    --header-height: 3rem;
    --font-medium: 500;
}

/* ===== Colors ===== */

:root {
    --first-color: #5361FF;
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}

/* ===== Font and typography ===== */

:root {
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 18vw;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --font-size-icon-social: 1.5rem;
}

@media screen and (min-width: 769px) {
    :root {
        --big-font-size: 9.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 0.9rem;
    }
}

/* ===== Margenes ===== */

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 4rem;
}

/* ===== z index ===== */

:root {
    --z-fixed: 100;
}

/* ===== Base ===== */

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== Class CSS ===== */

.section {
    padding: 3rem 0 0 0;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/* ===== Layout ===== */

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    margin-left: var(--mb-4);
    margin-right: var(--mb-4);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/* ===== Nav ===== */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background: rgba(255, 255, 255, .3);
        transition: .5s;
        backdrop-filter: blur(20px);
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: var(--dark-color);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__logo {
    border: 1px solid var(--dark-color);
    color: var(--white-color);
    padding: 1px 3px;
}

.nav__toggle {
    fill: var(--white-color);
    cursor: pointer;
}

.bx-close {
    display: none;
}

.bx-menu {
    display: flex;
}

/* ===== Show menu ===== */

.show {
    right: 0;
}

/* ===== Active menu ===== */

.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* ===== Main ===== */

.l-main {
    margin-bottom: 3rem;
}

/* ===== Home ===== */

.home {
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;
}

.home__container {
    height: calc(100vh);
}

.home__div-title {
    align-self: flex-end;
}

.home__title {
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .9;
    text-shadow: 0 20px 25px rgba(0, 0, 0, .5);
    margin-bottom: 3px;
    border: 5px solid var(--dark-color);
    padding: 10px;
}

.home__subtitle {
    color: var(--white-color);
    background-color: var(--dark-color);
    padding: 10px 20px;
}

.home__links {
    display: flex;
    justify-content: space-between;
}

.home__scroll {
    align-self: flex-end;
    padding-bottom: var(--mb-5);
}

.home__scroll-link {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--white-color);
}

.home__social {
    align-self: flex-end;
    padding-bottom: var(--mb-5);
}

.home__social-icon {
    color: var(--white-color);
    font-size: var(--font-size-icon-social);
    margin: 0 var(--mb-1);
}

.home__social-icon:hover {
    color: var(--white-color);
}

/* ===== About ===== */

.about__container {
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
    text-align: justify;
}

.about__img {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 120px;
    height: 120px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}

.about__img img {
    width: 110px;
}

.about__subtitle {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.about__text {
    margin-bottom: var(--mb-4);
}

.about__profession {
    display: block;
    margin-bottom: var(--mb-4);
    font-weight: 700;
}

/* ===== Skills ===== */

.skills__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills__container .card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.skills__container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
}

.percent .number-with-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number-with-percent .number {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .number-with-percent .number {
    color: var(--white-color);
    font-size: 50px;
}

.percent .number-with-percent .number .percentage {
    font-size: 20px;
}

.text {
    position: relative;
    color: #777;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .text {
    color: var(--white-color);
}

.svg__circle {
    position: relative;
    width: 150px;
    height: 150px;
}

.svg__circle circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--dark-color);
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.svg__circle circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) .svg__circle circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #00ff43;
}

.card:nth-child(2) .svg__circle circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: #00ff43;
}

.card:nth-child(3) .svg__circle circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: #00ff43;
}

/* .skills__container {
    row-gap: 2rem;
}

.skills__subtitle {
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.skills__name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--white-color);
    border-radius: .25rem;
    border: .5px solid var(--first-color);
}

.skills__name:hover {
    color: var(--white-color);
    background-color: var(--first-color);
} */

/* ===== Depositions ===== */

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    background-color: var(--first-color);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    background: var(--white-color);
    border-radius: 10px;
}

.swiper-slide-active {
    filter: blur(0);
    background: var(--first-color);
}

.swiper-slide .testimonialBox {
    color: var(--dark-color);
}

.swiper-slide-active .testimonialBox {
    color: var(--white-color);
}

.testimonialBox {
    position: relative;
    width: 100%;
    padding: 90px 40px 40px 40px;
}

.testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}

.testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonialBox .details .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.testimonialBox .details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonialBox .details .title-testimonialBox {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.testimonialBox .details .title-testimonialBox span {
    font-size: 12px;
}

.swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-left {
    background-image: none;
}

/* ===== Contacts ===== */

.contact__container {
    row-gap: 2rem;
}

.contact__subtitle {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin: 0 0 var(--mb-1) 0;
}

.contact__text {
    display: inline-block;
    margin-bottom: var(--mb-4);
}

.contact__input {
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}

.contact__button {
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

/* ===== Footer ===== */

.footer {
    padding: 3rem 0;
    background-color: var(--dark-color);
}

.footer__container {
    row-gap: 2rem;
}

.footer__title {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
}

.footer__link {
    padding: .25rem 0;
    color: var(--white-color);
}

.footer__social {
    color: var(--white-color);
    font-size: var(--font-size-icon-social);
    margin-right: var(--mb-1);
}

.footer__social:hover {
    color: var(--first-color);
}

/* ===== Footer ===== */

@media screen and (min-width: 769px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 4rem
    }
    .section-title {
        margin-bottom: 3rem;
    }
    .section-title::after {
        width: 64px;
        top: 3rem;
    }
    .nav {
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .nav__link {
        color: var(--white-color);
    }
    .nav__link:hover {
        color: var(--white-color);
    }
    .active::after {
        background-color: var(--white-color);
    }
    .home__container {
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home__scroll {
        padding-bottom: var(--mb-4);
    }
    .home__social {
        padding-bottom: var(--mb-4);
    }
    .about__img {
        width: 200px;
        height: 200px;
    }
    .about__img img {
        width: 185px;
    }
    /* .skills__container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    } */
    .contact__container {
        display: flex;
        justify-content: space-between;
    }
    .contact__form {
        width: 380px;
    }
    .footer__container {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1096px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}